// ***** Variables *****
// -- Colors
$bg-color: #131517;
// -- Fonts
$font-stack: "Sora", sans-serif;
// -- Resolution Mobile
$mobile-width: 46.25em;
// *********************

// ***** Mixins *****
@mixin container($wContainer: 1220px) {
    width: $wContainer;
}
@mixin resizeBtn($wBtn: 200px, $hBtn: 54px, $radiusBtn: 8px) {
    min-width: $wBtn;
    height: $hBtn;
    border-radius: $radiusBtn;
}
@mixin mobile {
    @media (max-width: $mobile-width) {
        @content;
    }
}
// ******************

// ***** TAG's SET *****
* {
    // Box Model
    box-sizing: border-box;
}
html {
    // Text
    font-size: 62.5%;
    // Animator
    scroll-behavior: smooth;
}
body {
    // Text
    font: 1.6rem $font-stack;
    // Color
    color: #fff;
    background-color: $bg-color;
    // Other
    user-select: none;
}
a {
    // Text
    text-decoration: none;
}
input,
textarea,
select,
button {
    /* Text */
    font: inherit;
}
img {
    pointer-events: none;
}
// *********************

// ***** COMMON CLASSES *****
.container {
    // Mixins
    @include container();
    // Box Model
    display: block;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}
.btn {
    // Mixins
    @include resizeBtn();
    // Flexbox Model
    display: inline-flex;
    justify-content: center;
    align-items: center;
    // Box Model
    border: 1px solid;
    // Color
    background-size: 300% 100%;
    // Text
    font-weight: 400;
    // Other
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    // Classes
    &--border-theme {
        // Color
        color: #f9f9f9;
        background-color: #eb9204;
        background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-color: #272633;
        // Classes
        &:hover {
            border-color: #83e868;
        }
    }
    &--fill-theme,
    &--fill-gradient-theme {
        // Color
        color: #f9f9f9;
        border-color: transparent;
    }
    &--fill-theme {
        // Color
        background-color: #282c30;
        &:hover {
            // Color
            background-color: #83e868;
        }
    }
    &--fill-gradient-theme {
        // Color
        background-image: linear-gradient(
            90deg,
            #eb9204,
            #83e868,
            #83e868,
            #eb9204
        );
        &:hover {
            background-position: 100% 0;
        }
    }
}
.section-heading {
    // Color
    color: #f9f9f9;
    // Text
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.25;
    // Mixins
    @include mobile {
        // Text
        font-size: 3rem;
        line-height: 1.33;
    }
    // Classes
    &--center {
        // Text
        text-align: center;
    }
}
.section-desc {
    // Color
    color: #858b93;
    // Text
    font-weight: 400;
    line-height: 1.625;
    // Mixins
    @include mobile {
        // Color
        color: #9ea1a7;
        // Text
        font-size: 1.2rem;
        line-height: 1.83;
    }
    // Classes
    &--center {
        // Text
        text-align: center;
    }
}
.gradient-text {
    // Color
    background: linear-gradient(to right, #eb9204 -34%, #83e868 116%);
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    // Text
    font: inherit;
}
// **************************

// +++++ HEADER +++++
// ===== Header Top =====
.header-top {
    // Box Model
    padding: 12px 0;
    margin-top: 28px;
    @include mobile {
        margin-top: 18px;
    }
    // Color
    background-color: $bg-color;
    // Classes
    .container {
        // Mixins
        @include container(1144px);
        @include mobile {
            @include container(319px);
        }
    }
    &--sticky {
        // Positioning
        position: sticky;
        top: -1px;
        z-index: 99;
    }
    &__inner {
        // Flexbox Model
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // Logo
    &__logo {
        // Box Model
        @include mobile {
            height: 11px;
        }
    }
    // Navigation Bar
    &__nav {
        // Classes
        &-list {
            // Flexbox Model
            display: flex;
            align-items: center;
        }
        &-link {
            // Positioning
            position: relative;
            // Box Model
            padding: 12px 18px;
            // Color
            color: #858b93;
            // Text
            font-weight: 400;
            line-height: 1.5;
            // Classes
            &--active,
            &:hover {
                // Color
                color: #f9f9f9;
            }
            &--active::after,
            &:hover::after {
                // Positioning
                position: absolute;
                bottom: 7px;
                left: 18px;
                // Box Model
                display: inline-block;
                content: "";
                width: 21px;
                height: 2px;
                // Color
                background-color: #6aea5c;
            }
        }
        @include mobile {
            display: none;
        }
    }
    &__buttons {
        // Flexbox Model
        display: flex;
        align-items: center;
        column-gap: 40px;
    }
    &__cta {
        // Mixins
        @include resizeBtn(110px, 40px, 8px);
        @include mobile {
            @include resizeBtn(80px, 30px, 6px);
            // Text
            font-size: 1.2rem;
        }
    }
    &__menu-mobile {
        // Flexbox Model
        display: none;
        flex-direction: column;
        justify-content: space-between;
        // display: none;
        width: 24px;
        height: 16px;
        &-line {
            // Box Model
            width: 100%;
            height: 2.3px;
            // Color
            background-color: #9fa2a8;
        }
        @include mobile {
            display: flex;
        }
    }
}
// ===== ========== =====

// ===== Header Hero =====
.header-hero {
    // Classes
    .container {
        // Mixins
        @include container(1144px);
        @include mobile {
            @include container(319px);
        }
    }
    // Header Hero Inner
    &__inner {
        // Positioning
        position: relative;
        // Box Model
        padding-top: 138px;
        @include mobile {
            padding-top: 50px;
        }
    }
    // Header Hero Heading & Desc
    &__heading {
        // Positioning
        position: relative;
        // Box Model
        width: 784px;
        margin: 0 auto;
        @include mobile {
            width: 298px;
        }
        // Text
        font-weight: 700;
        font-size: 6rem;
        line-height: 1.17;
        text-align: center;
        @include mobile {
            font-weight: 600;
            font-size: 3rem;
            line-height: 1.27;
        }
        // Classes
        &-gradient-text {
            // Positioning
            position: relative;
            // Display
            display: inline-block;
            // Classes
            &::after {
                // Positioning
                position: absolute;
                z-index: -1;
                inset: -4px -8px -4px -4px;
                // Box Model
                content: "";
                border: 1px dashed #fff;
                // Color
                background-color: #20262d;
                // Mixins
                @include mobile {
                    // Positioning
                    inset: -8px -4px -2px -4px;
                }
            }
            &-circle-1,
            &-circle-2,
            &-circle-3,
            &-circle-4 {
                // Positioning
                position: absolute;
                top: 0;
                left: 0;
                // Box Model
                width: 10px;
                height: 10px;
                // Mixins
                @include mobile {
                    width: 6px;
                    height: 6px;
                }
            }
            &-circle-1 {
                // Positioning
                top: -14px;
                left: -14px;
                // Box Model
                border-radius: 50% 50% 0 50%;
                // Color
                background-color: #ae8ff9;
                // Mixins
                @include mobile {
                    // Positioning
                    left: -10px;
                }
            }
            &-circle-2 {
                // Positioning
                top: -14px;
                left: initial;
                right: -18px;
                // Box Model
                border-radius: 50% 50% 50% 0;
                // Color
                background-color: #ef8f00;
                // Mixins
                @include mobile {
                    // Positioning
                    right: -10px;
                }
            }
            &-circle-3 {
                // Positioning
                top: initial;
                bottom: -14px;
                left: -14px;
                // Box Model
                border-radius: 50% 0 50% 50%;
                // Color
                background-color: #ff7667;
                // Mixins
                @include mobile {
                    // Positioning
                    bottom: -8px;
                    left: -10px;
                }
            }
            &-circle-4 {
                // Positioning
                top: initial;
                bottom: -14px;
                left: initial;
                right: -18px;
                // Box Model
                border-radius: 0 50% 50% 50%;
                // Color
                background-color: #0cce84;
                // Mixins
                @include mobile {
                    // Positioning
                    bottom: -8px;
                    right: -10px;
                }
            }
        }
        &-decor-circle {
            // Positioning
            position: absolute;
            bottom: 6px;
            right: 53px;
            // Box Model
            width: 7px;
            height: 7px;
            border-radius: 50%;
            // Color
            background-color: #ff7667;
            // Mixins
            @include mobile {
                // Positioning
                bottom: 2px;
                right: 70px;
            }
        }
    }
    &__desc {
        // Box Model
        width: 446px;
        margin: 38px auto 0;
        // -Mixins
        @include mobile {
            // Display
            display: none;
        }
    }
    // Header Hero Buttons
    &__buttons {
        // Flexbox Model
        display: flex;
        justify-content: center;
        column-gap: 20px;
        // Box Model
        margin-top: 44px;
        // Mixins
        @include mobile {
            // Flexbox Model
            flex-direction: column;
            row-gap: 20px;
            // Box Model
            padding: 0 87px;
            margin-top: 30px;
        }
    }
    &__btn {
        // Mixins
        @include mobile {
            // Mixins
            @include resizeBtn(144px, 40px);
            // Text
            font-weight: 600;
            font-size: 1.2rem;
        }
    }
    // Header Hero Media
    &__media {
        // Positioning
        position: relative;
        // Box Model
        height: 512px;
        margin-top: 110px;
        // Mixins
        @include mobile {
            // Box Model
            height: 160px;
            margin-top: 82px;
        }
        // Classes
        // Header Hero Media Decor
        &-decor {
            // Positioning
            position: absolute;
            top: 0;
            left: 0;
            // Box Model
            border-radius: 50%;
            // Classes
            &:nth-of-type(1) {
                // Positioning
                top: 158px;
                left: initial;
                right: 50px;
                // Box Model
                width: 154px;
                height: 154px;
                // Color
                background: linear-gradient(
                    183.21deg,
                    #8ae764 1.17%,
                    #e99506 115.87%
                );
                box-shadow: inset 0px 39px 31px #113719;
                // Mixins
                @include mobile {
                    // Positioning
                    top: 46px;
                    right: 0;
                    // Box Model
                    width: 50px;
                    height: 50px;
                    // Color
                    box-shadow: inset 0px 12px 10px #113719;
                }
            }
            &:nth-of-type(2) {
                // Positioning
                top: initial;
                bottom: 73px;
                left: 58px;
                // Box Model
                width: 90px;
                height: 90px;
                // Color
                background: linear-gradient(
                    179.83deg,
                    #111118 6.06%,
                    rgba(43, 43, 61, 0) 119.38%
                );
                box-shadow: inset 0px 39px 31px #313141;
                // Mixins
                @include mobile {
                    // Positioning
                    bottom: 20px;
                    left: 0;
                    // Box Model
                    width: 30px;
                    height: 30px;
                    // Color
                    box-shadow: inset 0px 16px 10px #313141;
                }
            }
        }
        // Header Hero Media Images
        &-img {
            // Positioning
            position: absolute;
            top: 0;
            left: 0;
            // Resize
            object-fit: cover;
            // Classes
            &:nth-of-type(1) {
                // Positioning
                left: initial;
                right: 116px;
                // Box Model
                width: 848px;
                height: 366px;
                border-radius: 8px 8px 0px 0px;
                // Mixins
                @include mobile {
                    // Positioning
                    right: 24px;
                    // Box Model
                    width: 265px;
                    height: auto;
                }
            }
            &:nth-of-type(2) {
                // Positioning
                top: initial;
                bottom: 0;
                left: 105px;
                // Box Model
                width: 216px;
                height: 356px;
                border-radius: 15px 15px 22px 22px;
                // Mixins
                @include mobile {
                    // Positioning
                    left: 14px;
                    // Box Model
                    width: 67.5px;
                    height: auto;
                }
            }
        }
    }
    // Header Hero Decor Circles
    &__decor {
        &-circles-1,
        &-circles-2 {
            // Positioning
            position: absolute;
            top: 78px;
            left: 0;
            // Flexbox Model
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            // Box Model
            width: 121px;
            height: 315px;
            @include mobile {
                // Box Model
                width: 24px;
                height: 64px;
            }
        }
        &-circles-1 {
            // Positioning
            left: 28px;
            // Mixins
            @include mobile {
                // Positioning
                top: -16px;
                left: 58px;
                // Transform
                rotate: -90deg;
            }
        }
        &-circles-2 {
            // Positioning
            left: initial;
            right: 28px;
            // Mixins
            @include mobile {
                // Positioning
                top: 146px;
                right: 18px;
            }
        }
        &-circle-1,
        &-circle-2,
        &-circle-3,
        &-circle-4 {
            // Box Model
            border-radius: 50%;
            // Color
            background: linear-gradient(
                179.83deg,
                #111118 6.06%,
                rgba(43, 43, 61, 0) 119.38%
            );
            box-shadow: inset 0px 39px 31px #313141;
        }
        &-circle-1 {
            // Box Model
            width: 100%;
            padding-top: 100%;
        }
        &-circle-2 {
            // Box Model
            width: 32%;
            padding-top: 32%;
        }
        &-circle-3 {
            // Box Model
            width: 21%;
            padding-top: 21%;
        }
        &-circle-4 {
            // Box Model
            width: 12%;
            padding-top: 12%;
        }
    }
}
// ===== =========== =====
// ++++++++++++++++++

// +++++ MAIN +++++
// ===== Service =====
.service {
    // Box Model
    margin-top: 140px;
    // Mixins
    @include mobile {
        margin-top: 80px;
    }
    // Classes
    .container {
        // Mixins
        @include container(1096px);
        @include mobile {
            @include container(319px);
        }
    }
    &__inner {
        // Positioning
        position: relative;
        // Box Model
        padding: 60px 50px;
        border-radius: 27px;
        // Color
        background-color: #282c30;
        // Mixins
        @include mobile {
            // Box Mobile
            padding: 55px 50px;
        }
    }
    &__line {
        // Positioning
        position: absolute;
        top: 91px;
        // Box Model
        width: 195px;
        border: 1px dashed #858b93;
        // Mixins
        // Classes
        &:nth-child(2) {
            // Positioning
            left: 260px;
            @include mobile {
                top: 270px;
                left: 62px;
            }
        }
        &:nth-child(3) {
            // Positioning
            right: 260px;
            @include mobile {
                top: initial;
                bottom: 270px;
                right: 62px;
            }
        }
    }
}
.service-list {
    // Flexbox Model
    display: flex;
    justify-content: space-between;
    @include mobile {
        flex-direction: column;
        row-gap: 56px;
    }
    // Classes
    &__item {
        // Box Model
        width: 262px;
        // Text
        text-align: center;
        // Classes
        &:nth-child(2) {
            .service-list__img-wrap {
                // Color
                background-color: #ef8f00;
            }
        }
        &:nth-child(3) {
            .service-list__img-wrap {
                // Color
                background-color: #ae8ff9;
            }
        }
        // Mixins
        @include mobile {
            width: 100%;
        }
    }
    &__img-wrap {
        // Flexbox Model
        display: flex;
        justify-content: center;
        align-items: center;
        // Box Model
        width: 62px;
        height: 62px;
        border-radius: 50%;
        margin: 0 auto;
        // Color
        background-color: #0cce84;
    }
    &__heading {
        // Box Model
        margin-top: 30px;
        // Color
        color: #f9f9f9;
        // Text
        font-weight: 600;
        font-size: 2.2rem;
        // Mixins
        @include mobile {
            font-size: 2rem;
        }
    }
    &__desc {
        // Box Model
        margin-top: 5px;
        // Color
        color: #858b93;
        // Text
        font-weight: 400;
        line-height: 1.625;
        // Mixins
        @include mobile {
            // Box Model
            margin-top: 10px;
            // Text
            line-height: 1.25;
        }
    }
}
// ===== ======= =====

// ===== Task =====
.task {
    // Box Model
    margin-top: 140px;
    // Mixins
    @include mobile {
        margin-top: 80px;
    }
    // Classes
    .container {
        // Mixins
        @include container(1162px);
        @include mobile {
            @include container(319px);
        }
    }
    &__inner {
        // Flexbox Model
        display: flex;
        justify-content: space-between;
        align-items: center;
        // Mixins
        @include mobile {
            flex-direction: column;
            row-gap: 80px;
            align-items: flex-start;
        }
    }
    // Task Content
    &__content {
        // Mixins
        @include mobile {
            // Box Model
            width: 100%;
        }
    }
    &__heading {
        // Box Model
        width: 368px;
        // Mixins
        @include mobile {
            // Box Model
            width: 219px;
        }
    }
    &__desc {
        // Box Model
        width: 538px;
        margin-top: 22px;
        // Mixins
        @include mobile {
            // Box Model
            width: 290px;
            margin-top: 10px;
        }
    }
    &__countdown {
        // Positioning
        position: relative;
        // Flexbox Model
        display: inline-flex;
        column-gap: 17px;
        // Box Model
        margin-top: 86px;
        // Mixins
        @include mobile {
            // Box Model
            width: 100%;
            height: 140px;
            margin-top: 38px;
        }
        // Classes
        &-dots {
            // Positioning
            position: absolute;
            top: 0;
            left: 50%;
            // Flexbox Model
            display: flex;
            column-gap: 5px;
            // Transform
            transform: translateX(-50%);
            // Mixins
            @include mobile {
                // Display
                display: none;
            }
        }
        &-dot {
            // Box Model
            width: 6px;
            height: 6px;
            border-radius: 50%;
            // Color
            background-color: #f9f9f9;
            opacity: 0.3;
            // Classes
            &--active {
                background-color: #ef8f00;
                opacity: 1;
            }
        }
        &-item {
            // Flexbox Model
            display: flex;
            flex-direction: column;
            align-items: center;
            // Box Model
            width: 132px;
            height: 127px;
            border-radius: 9px;
            // Color
            background-color: #272633;
            // Mixins
            @include mobile {
                // Positioning
                position: absolute;
                // Box Model
                width: 104px;
                height: 98px;
                // Classes
                &:nth-child(2) {
                    // Positioning
                    top: 0;
                    left: 23px;
                }
                &:nth-child(3) {
                    // Positioning
                    left: 118px;
                    z-index: 1;
                }
                &:nth-child(4) {
                    // Positioning
                    top: 0;
                    right: 23px;
                }
            }
            // Classes
            &-title {
                // Box Model
                margin-top: 20px;
                // Color
                color: #f9f9f9;
                // Text
                font-weight: 600;
                font-size: 3rem;
                // Mixins
                @include mobile {
                    // Box Model
                    margin-top: 15px;
                    // Text
                    font-size: 2rem;
                }
            }
            &-desc {
                // Box Model
                margin-top: 16px;
                // Color
                color: #858b93;
                // Text
                font-weight: 400;
                line-height: 1.625;
                // Mixins
                @include mobile {
                    // Box Model
                    margin-top: 10px;
                    // Text
                    font-weight: 600;
                    font-size: 1.2rem;
                    line-height: 1.25;
                }
            }
            &--active {
                // Color
                background: linear-gradient(
                    191.94deg,
                    #c4f566 -43.72%,
                    #ae8ef9 -5.87%,
                    #ef8f00 52.36%,
                    #61e559 122.78%
                );
                // Transform
                transform: translateY(34px);
                // Mixins
                @include mobile {
                    // Box Model
                    width: 86px;
                    height: 83px;
                    // Transform
                    transform: translateY(56px);
                }
                // Classes
                .task__countdown-item-desc {
                    // Box Model
                    width: 62px;
                    margin-top: 6px;
                    // Color
                    color: #f9f9f9;
                    // Text
                    text-align: center;
                    // Mixins
                    @include mobile {
                        // Box Model
                        width: 46px;
                    }
                }
            }
        }
    }
    // Task Media
    &__media {
        // Positioning
        position: relative;
        // Mixins
        @include mobile {
            // Box Model
            width: 100%;
        }
        // Classes
        &-img {
            // Box Model
            width: 100%;
            height: 525px;
            // Mixins
            @include mobile {
                // Box Model
                width: 296px;
                height: auto;
                margin-left: 23px;
            }
        }
    }
    &-media-block {
        // Positioning
        position: absolute;
        // Flexbox Model
        display: flex;
        justify-content: space-between;
        align-items: center;
        // Box Model
        border-radius: 5px;
        // Color
        background-color: #27292c;
        // Classes
        &__title {
            // Text
            font-weight: 600;
            font-size: 1.4rem;
            // Mixins
            @include mobile {
                // Text
                font-size: 0.7rem;
            }
        }
        &__icon-wrap {
            // Flexbox Model
            display: flex;
            justify-content: center;
            align-items: center;
            // Box Model
            width: 32px;
            height: 32px;
            border-radius: 50%;
            // Color
            background-color: #363a3e;
            // Mixins
            @include mobile {
                // Box Model
                width: 17px;
                height: 17px;
            }
        }
        &:nth-of-type(1) {
            // Positioning
            top: 62px;
            right: 342px;
            // Box Model
            width: 225px;
            height: 62px;
            padding: 0 18px;
            // Mixins
            @include mobile {
                // Positioning
                top: 32px;
                right: 180px;
                // Box Model
                width: 120px;
                height: 32px;
                padding: 0 10px;
                // Classes
                .task-media-block__icon {
                    // Box Model
                    width: 5px;
                }
            }
            // Classes
            .task-media-block__title {
                // Color
                background: linear-gradient(
                    89.86deg,
                    #ef8f00 -6.27%,
                    #ff7667 90.08%
                );
            }
        }
        &:nth-of-type(2) {
            // Positioning
            top: 55px;
            right: 44px;
            // Box Model
            width: 200px;
            height: 55px;
            padding: 0 18px;
            // Mixins
            @include mobile {
                // Positioning
                top: 28px;
                right: 22px;
                // Box Model
                width: 105px;
                height: 30px;
                padding: 0 10px;
                // Classes
                .task-media-block__icon {
                    // Box Model
                    width: 7px;
                }
            }
            // Classes
            .task-media-block__title {
                // Color
                background: linear-gradient(
                    89.93deg,
                    #0cce84 3.45%,
                    #ae8ef9 99.07%
                );
            }
        }
        &:nth-of-type(3) {
            // Positioning
            top: 318px;
            right: 375px;
            // Box Model
            width: 228px;
            height: 53px;
            padding: 0 18px;
            // Mixins
            @include mobile {
                // Positioning
                top: 168px;
                right: 198px;
                // Box Model
                width: 120px;
                height: 28px;
                padding: 0 10px;
                // Classes
                .task-media-block__icon {
                    // Box Model
                    width: 5px;
                }
            }
            // Classes
            .task-media-block__content-wrap {
                // Flexbox Model
                display: flex;
                column-gap: 15px;
                align-items: center;
                // Mixins
                @include mobile {
                    // Flexbox Model
                    column-gap: 8px;
                }
            }
            .task-media-block__title {
                // Color
                background: linear-gradient(
                    92.64deg,
                    #c4f566 -11.2%,
                    #ff6e6e 123.12%
                );
            }
            .task-media-block__avatar {
                // Box Model
                width: 32px;
                height: 32px;
                border-radius: 50%;
                border: 1px solid transparent;
                // Resize
                object-fit: cover;
                // Color
                background: linear-gradient(to right, #c531f9, #dd406f, #787878)
                    border-box;
                // Mixins
                @include mobile {
                    // Box Model
                    width: 17px;
                    height: 17px;
                }
                // Classes
                &:last-child {
                    // Box Model
                    margin-left: -11px;
                    // Color
                    background: linear-gradient(
                            to right,
                            #6aea5c,
                            #db7d60,
                            #787878
                        )
                        border-box;
                    // Mixins
                    @include mobile {
                        // Box Model
                        margin-left: -6px;
                    }
                }
                &-list {
                    // Flexbox Model
                    display: flex;
                }
            }
        }
        &:nth-of-type(4) {
            // Positioning
            top: 392px;
            right: 28px;
            // Box Model
            width: 198px;
            height: 53px;
            padding: 0 18px 0 30px;
            // Mixins
            @include mobile {
                // Positioning
                top: 206px;
                right: 15px;
                // Box Model
                width: 105px;
                height: 28px;
                padding: 0 10px;
                // Classes
                .task-media-block__icon {
                    // Box Model
                    width: 10px;
                }
            }
            // Classes
            .task-media-block__title {
                // Color
                background: linear-gradient(
                    92.64deg,
                    #c4f566 -11.2%,
                    #ff6e6e 123.12%
                );
            }
        }
    }
}
// ===== ==== =====

// ===== Features =====
.features {
    // Box Model
    height: 657px;
    padding: 136px 0 80px;
    margin-top: 140px;
    @include mobile {
        height: 1070px;
        padding: 60px 0;
        margin-top: 80px;
    }
    // Color
    background-color: #191b1d;
    // Classes
    .container {
        // Mixins
        @include container(1096px);
        @include mobile {
            @include container(319px);
        }
    }
    &__inner {
        // Grid Layout Model
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        // Mixins
        @include mobile {
            grid-template-columns: 1fr;
            row-gap: 76px;
        }
    }
}
// Features Media
.features-media {
    // Positioning
    position: relative;
    // Box Model
    height: 440px;
    // Mixins
    @include mobile {
        width: 280px;
        height: 264px;
        margin: 0 auto;
    }
    // Classes
    // Features Media Circle Gradient
    &__circle-gradient {
        // Variable
        $size-circle: 267px;
        // Positioning
        position: absolute;
        top: 94px;
        left: 52px;
        // Box Model
        width: $size-circle;
        height: $size-circle;
        border-radius: 50%;
        // Color
        background: linear-gradient(
            180deg,
            #6aea5c 0%,
            #fd7566 48.53%,
            #ef8f00 100%
        );
        filter: blur(66px);
        // Mixins
        @include mobile {
            // Positioning
            top: 55px;
            left: 30px;
            // Box Model
            width: 153px;
            height: 153px;
        }
    }
    // Features Media Time Chart
    &__time-chart {
        // Positioning
        position: absolute;
        top: 30px;
        left: 20px;
        // Flexbox Model
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 7px;
        // Mixins
        @include mobile {
            // Positioning
            top: 18px;
            left: 12px;
            // Flexbox Model
            row-gap: 5px;
        }
    }
    // Features Media Lines
    &__lines {
        // Flexbox Model
        display: flex;
        justify-content: space-between;
        // Box Model
        width: 294px;
        height: 378px;
        // Mixins
        @include mobile {
            // Box Model
            width: 174px;
            height: 216px;
        }
    }
    &__line {
        // Box Model
        height: 100%;
        border: 1.5px dashed #d0d0d0;
    }
    // Features Media Times
    &__times {
        // Flexbox Model
        display: flex;
        justify-content: space-between;
        // Box Model
        width: 334px;
        // Mixins
        @include mobile {
            width: 205px;
        }
    }
    &__time {
        // Color
        color: #f9f9f9;
        opacity: 0.6;
        // Text
        font-weight: 400;
        font-size: 1.4rem;
        // Mixins
        @include mobile {
            font-size: 1.2rem;
        }
    }
    // Features Media Blocks
    &__block {
        // Positioning
        position: absolute;
        // Flexbox Model
        display: flex;
        align-items: center;
        // Box Model
        border-radius: 13px;
        // Color
        background-color: rgba(0, 0, 0, 0.7);
        // Classes
        &-title {
            // Text
            font-weight: 400;
            font-size: 1.4rem;
            // Mixins
            @include mobile {
                font-weight: 600;
                font-size: 0.8rem;
            }
        }
    }
    &__block:nth-child(3) {
        // Positioning
        top: 0;
        left: 0;
        // Flexbox Model
        column-gap: 16px;
        // Box Model
        width: 203px;
        height: 62px;
        padding: 0 18px;
        // Mixins
        @include mobile {
            // Flexbox Model
            column-gap: 9px;
            // Box Model
            width: 116px;
            height: 36px;
            padding: 0 10px;
        }
        // Classes
        .features-media__avatar {
            // Box Model
            width: 36px;
            height: 36px;
            border: 1px solid #bdbdbd;
            border-radius: 50%;
            // Resize
            object-fit: cover;
            // Mixins
            @include mobile {
                // Box Model
                width: 20px;
                height: 20px;
            }
        }
        .features-media__block-title {
            // Color
            background: linear-gradient(91.19deg, #f08d08 1.27%, #b88ed3 78.9%);
        }
    }
    &__speech-bubble {
        // Positioning
        top: 118px;
        left: 156px;
        // Flexbox Model
        display: flex;
        flex-direction: column;
        row-gap: 2px;
        justify-content: center;
        align-items: center;
        // Box Model
        width: 144px;
        height: 53px;
        border-radius: 5px;
        // Color
        background-color: #c4c4c4;
        // Mixins
        @include mobile {
            // Positioning
            top: 68px;
            left: 90px;
            // Box Model
            width: 82px;
            height: 30px;
        }
        // Classes
        .features-media__block-title {
            // Color
            color: #f9f9f9;
            // Text
            font-weight: 500;
            font-size: 1.4rem;
            // Mixins
            @include mobile {
                font-size: 0.8rem;
            }
        }
        &::before {
            // Positioning
            position: absolute;
            bottom: -26px;
            left: 66px;
            // Box Model
            content: "";
            display: inline-block;
            border: 14px solid;
            border-color: #c4c4c4 transparent transparent;
            // Mixins
            @include mobile {
                // Positioning
                bottom: -15px;
                left: 45px;
                // Box Model
                border-width: 8px;
            }
        }
    }
    &__block:nth-child(5) {
        // Positioning
        top: 204px;
        left: 250px;
        // Box Model
        width: 240px;
        height: 62px;
        padding: 0 18px;
        // Mixins
        @include mobile {
            // Positioning
            top: 116px;
            left: 143px;
            // Box Model
            width: 136px;
            height: 36px;
            padding: 0 8px;
        }
        // Classes
        .features-media__block-title {
            // Color
            background: linear-gradient(90deg, #fd7566 1.48%, #6aea5c 101.48%);
        }
    }
    &__block:nth-child(6) {
        // Positioning
        top: 314px;
        left: 0;
        // Box Model
        width: 220px;
        height: 62px;
        padding: 0 22px;
        // Mixins
        @include mobile {
            // Positioning
            top: 180px;
            // Box Model
            width: 126px;
            height: 36px;
            padding: 0 12px;
        }
        // Classes
        .features-media__block-title {
            // Color
            background: linear-gradient(90deg, #0cce84 -3.41%, #ff2eb8 103.89%);
        }
    }
}
// Features Content
.features-content {
    // Box Model
    padding-left: 18px;
    // Mixins
    @include mobile {
        padding: 0;
    }
    // Classes
    &__heading {
        // Box Model
        width: 400px;
        // Mixins
        @include mobile {
            // Box Model
            width: 235px;
        }
    }
    &__check-list {
        // Grid Layout Model
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 22px;
        // Box Model
        width: 492px;
        margin-top: 50px;
        // Mixins
        @include mobile {
            // Grid Layout Model
            grid-template-columns: 1fr;
            row-gap: 34px;
            // Box Model
            width: 100%;
        }
    }
    &__check-item {
        // Positioning
        position: relative;
        // Box Model
        padding-left: 44px;
        // Mixins
        @include mobile {
            padding-left: 63px;
        }
        // Classes
        &::before {
            // Positioning
            position: absolute;
            top: 0;
            left: 0;
            // Box Model
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 7px;
            // Color
            background-color: #0cce84;
            // Mixins
            @include mobile {
                // Positioning
                left: 20px;
            }
        }
        &::after {
            // Positioning
            position: absolute;
            top: 5px;
            left: 5px;
            // Box Model
            content: "";
            display: inline-block;
            width: 8.5px;
            height: 6px;
            border: 1px solid #fdfdfd;
            border-top: none;
            border-right: none;
            // Transform
            rotate: -45deg;
            // Mixins
            @include mobile {
                // Positioning
                left: 25px;
            }
        }
        &:nth-child(2)::before {
            // Color
            background-color: #ef8f00;
        }
        &:nth-child(3)::before {
            // Color
            background-color: #ae8ff9;
        }
        &:nth-child(4)::before {
            // Color
            background-color: #ff7667;
        }
    }
    &__check-title {
        // Color
        color: #f9f9f9;
        // Text
        font-weight: 600;
        font-size: 1.8rem;
    }
    &__check-desc {
        // Box Model
        width: 176px;
        margin-top: 8px;
        // Color
        color: #858b93;
        // Text
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.71;
    }
}
// ===== ======== =====

// ===== About =====
.about {
    // Box Model
    margin-top: 140px;
    // Mixins
    @include mobile {
        margin-top: 80px;
    }
    // Classes
    .container {
        // Mixins
        @include container(1096px);
        @include mobile {
            @include container(319px);
        }
    }
    &__inner {
        // Flexbox Model
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    // About Heading & Desc
    &__heading {
        // Box Model
        width: 498px;
        // Mixins
        @include mobile {
            // Box Model
            width: 228px;
        }
        // Classes
        &-gradient-text {
            // Mixins
            @include mobile {
                // Color
                background: linear-gradient(
                    to right,
                    #d1df2d -34%,
                    #ff6f06 116%
                );
            }
        }
    }
    &__desc {
        // Box Model
        width: 748px;
        margin-top: 30px;
        // Mixins
        @include mobile {
            // Box Model
            width: 268px;
            margin-top: 20px;
        }
    }
    // About Action
    &__action-list {
        // Flexbox Model
        display: flex;
        column-gap: 18px;
        align-items: center;
        // Box Model
        margin-top: 44px;
        // Mixins
        @include mobile {
            // Flexbox Model
            flex-direction: column;
            row-gap: 26px;
        }
    }
    &__action-item {
        // Box Model
        width: 170px;
        height: 46px;
        padding: 0 18px;
        border-radius: 23px;
        // Flexbox Model
        display: flex;
        justify-content: space-between;
        align-items: center;
        // Color
        background-color: #282c30;
    }
    &__action-name {
        // Color
        color: #858b93;
        // Text
        font-weight: 400;
        font-size: 1.4rem;
        // Mixins
        @include mobile {
            // Color
            color: #a4b3be;
        }
    }
    // About Media Image
    &__media {
        // Box Model
        width: 100%;
        margin-top: 75px;
        // Mixins
        @include mobile {
            margin-top: 32px;
        }
    }
}
// ===== ===== =====

// ===== Support =====
.support {
    // Box Model
    min-height: 860px;
    margin-top: 140px;
    // Mixins
    @include mobile {
        margin-top: 46px;
    }
    // Classes
    .container {
        // Mixins
        @include container(1096px);
        @include mobile {
            @include container(319px);
        }
    }
    &__inner {
        // Positioning
        position: relative;
    }
    // Support Heading
    &__heading {
        // Box Model
        width: 494px;
        // Mixins
        @include mobile {
            width: 100%;
        }
    }
    // Support Button
    &__btn {
        // Positioning
        position: absolute;
        top: 28px;
        right: 98px;
        // Text
        font-weight: 600;
        font-size: 1.8rem;
        // Mixins
        @include resizeBtn(218px, 68px, 12px);
        @include mobile {
            // Positioning
            top: 1056px;
            right: 92px;
            // Text
            font-size: 1.2rem;
            // Mixins
            @include resizeBtn(136px, 42px, 10px);
        }
    }
    // Support Wrapper
    &__wrap {
        // Grid Layout Model
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        // Box Model
        margin-top: 24px;
        // Mixins
        @include mobile {
            // Grid Layout Model
            grid-template-columns: 1fr;
            row-gap: 70px;
            // Box Model
            margin-top: 30px;
        }
    }
    // Support Card List
    &__card-list {
        // Flexbox Model
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        // Mixins
        @include mobile {
            row-gap: 10px;
        }
    }
    &__card-item {
        // Positioning
        position: relative;
        // Box Model
        width: 494px;
        height: 158px;
        padding: 30px 40px;
        border: 2px solid #282c30;
        border-radius: 15px;
        // Animator
        transition: 0.3s;
        // Mixins
        @include mobile {
            // Box Model
            width: 319px;
            height: 102px;
            padding: 18px 25px 0;
        }
        // Classes
        &:nth-child(2) {
            // Classes
            .support__card-name::after {
                // Color
                background-color: #0cce84;
            }
        }
        &:nth-child(3) {
            // Classes
            .support__card-name::after {
                // Color
                background-color: #ff7667;
            }
        }
        &:hover {
            // Color
            background-color: #282c30;
            // Classes
            &::before {
                // Positioning
                position: absolute;
                top: 120px;
                left: 44px;
                // Box Model
                content: "";
                display: inline-block;
                width: 425px;
                height: 60px;
                border-radius: 19px;
                // Color
                background: #0d0d0d;
                filter: blur(50px);
                // Mixins
                @include mobile {
                    // Display
                    display: none;
                }
            }
        }
    }
    &__card-name {
        // Positioning
        position: relative;
        // Display
        display: inline-block;
        // Color
        color: #f9f9f9;
        // Text
        font-weight: 600;
        font-size: 2.8rem;
        // Mixins
        @include mobile {
            // Text
            font-size: 1.8rem;
        }
        // Classes
        &::after {
            // Positioning
            position: absolute;
            bottom: 7px;
            right: -14px;
            // Box Model
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            // Color
            background-color: #ef8f00;
            // Mixins
            @include mobile {
                // Positioning
                bottom: 5px;
                right: -10px;
                // Box Model
                width: 5px;
                height: 5px;
            }
        }
    }
    &__card-desc {
        // Box Model
        width: 388px;
        margin-top: 10px;
        // Color
        color: #858b93;
        // Text
        font-weight: 400;
        line-height: 1.5;
        // Mixins
        @include mobile {
            // Box Model
            width: 244px;
            // Text
            font-size: 1rem;
            line-height: 2.2;
        }
    }
    // Support Media
    &__media {
        // Positioning
        position: relative;
        // Box Model
        height: 615px;
        // Mixins
        @include mobile {
            height: 448px;
        }
        // Classes
        &-img {
            // Positioning
            position: absolute;
            top: 0;
            left: 0;
            // Box Model
            display: block;
            width: 348px;
            height: 264px;
            border-radius: 30px;
            border: 3px solid transparent;
            // Color
            background: linear-gradient(to right, #a7ef4c, #ff5435, #ef8f00)
                border-box;
            box-shadow: 0px 4px 89px 27px rgba(0, 0, 0, 0.4);
            // Resize
            object-fit: cover;
            // Mixins
            @include mobile {
                // Box Model
                width: 100%;
                height: 210px;
            }
            // Classes
            &:nth-child(2) {
                // Positioning
                top: 160px;
                left: 200px;
                // Color
                background: linear-gradient(to right, #6aea5c, #fd7566, #ef8f00)
                    border-box;
                // Mixins
                @include mobile {
                    // Display
                    display: none;
                }
            }
            &:nth-child(3) {
                // Positioning
                top: 351px;
                left: 25px;
                // Color
                background: linear-gradient(to right, #b2eb22, #f95e37, #f28a14)
                    border-box;
                // Mixins
                @include mobile {
                    // Positioning
                    top: 238px;
                    left: 0;
                }
            }
        }
    }
    // Support Line
    &__line {
        // Box Model
        width: 1000px;
        height: 1px;
        margin: 70px auto 0;
        // Color
        background-color: #282c30;
        // Mixins
        @include mobile {
            // Box Model
            width: 265px;
            margin-top: 150px;
        }
    }
}
// ===== ======= =====
// ++++++++++++++++
